@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
*{margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;}
html {
  scroll-behavior: smooth;
}
body{
    background: url("Background.jpg") no-repeat;
    background-size: cover;
    background-position: center;
  }
.card-img-top{
    border-radius: 50%;
    height: 300px !important;
    width: 250px !important;
    position: relative;
    left: 50px;
    top: -90px;
    object-fit: cover;
}
.card{
    border-radius: 0;
    cursor: pointer;
    margin-top: 100px !important;
    border-radius: 12px;
    top: -90px;
    backdrop-filter: blur(2px);
    background: transparent;
    border: 2px solid black;

}
h5{
    color: black;
}
p{
    color: black;
}
.card:hover{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

}
.card-body{
    margin-top: -50px;
}
.bi{
    font-size: 25px;
}
button {
  margin-top: 20px;
}
button {
  height: 55px;
  width: 170px;
  border-radius: 20px; 
  border: none;
  background: none;
  margin: 0 10px;
  border: 2px solid black;
  font-size: 20px;
  font-weight: 500;
  padding: 0 10px;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease;
  background-color:whitesmoke;
}
button:hover{
  color: black;
  background-color: transparent;
  border: 2px solid black;
}
h3{
  font-size: 50px;
  color: black;
  text-align: center;
}
h4{
  color: black;
  text-align: center;
}
.card-img-top{
  border-radius: 50%;
  height: 250px !important;
  width: 250px !important;
  position: relative;
  left: 80px;
  top: -90px;
  object-fit: cover;
  border: 3px solid black;
}
.card{
  border-radius: 0;
  cursor: pointer;
  margin-top: 100px !important;
  border-radius: 12px;
}
.card:hover{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

}
.card-body{
  margin-top: -50px;
}
.bi{
  font-size: 25px;
}
@media only screen and (max-width: 600px) 
{
    .card-img-top{
        left: 80px !important;
       
    }
  }
